<div class="messages">
  <%= render partial: 'message', collection: @messages %>
</div>

<div class="form-input">
  <%= form_with model: [@space, @message], html: {class: "form"}, local: true do |f|%>
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <%= f.submit '送信', class: 'form-submit' ,id: 'message-submit'%>
  <% end %>
</div>