/*
################################################
	projectビューcss
################################################
*/
.links_list {
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  height: 40px;

  .space_button {
    height: 100%;
    text-decoration: none;
    font-size: 16px;
  }

  /*############ 削除リンク ############*/
  .item-destroy {
    background-color: rgb(194, 82, 51);
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    text-decoration: none;
    /* color: black; */
    height: 100%;
  }
}

.task-list {
  margin: 20px 40px;

  table {
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-word;
  }

  .table.table-hover.task {
    border-collapse: collapse;
    border: 1px solid rgba(0, 0, 0, .1);
    table-layout: fixed;
    width: 100%;
  }

  .table.table-hover.task th,
  .table.table-hover.task td {
    border: 1px solid rgba(0, 0, 0, .1);
    padding: .6em;
    text-align: center;
    background: #fff;
  }

  .table.table-hover.task th {
    background: #3F51B5;
    color: #fff;
    font-weight: bold;
  }

  .table.table-hover.task th:first-child {
    width: 120px;
  }

  #gray_scale {
    background-color: gray;
  }

}

/*############ newフォーム全体 ############*/
.project-forms {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

#project-form {
  width: 1000px;
}

.nested-fields.task-field {
  position: relative;
  margin-top: 40px;
}

.add_todo.add_fields {
  position: absolute;
  left: 0px;
  top: 45px;
}

.things-header {
  display: flex;
  margin-top: 50px;
}

.nested-fields.thing-field {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.links {
  margin-top: 40px;
}

/*######### project/showビュー #########*/
.btn.btn-primary.edit {
  --bs-btn-bg: none;
  background-color: white;
}


/*############ thingヘッダー ############*/
.head {
  margin-bottom: 0px;
  position: relative;
}

.head.description {
  position: absolute;
  right: 736px;
}

.head.start {
  position: absolute;
  right: 175px;
}

.head.end {
  position: absolute;
  right: 63px;
}

.memo-field {
  width: 500px;
}

/*############ submitボタン ############*/
.submit-button {
  margin-top: 20px;
}

/*############ thing編集画面 ############*/
.task_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  font-size: 24px;
  font-weight: bold;
}