<div class="task-list">
  <table>
   <tr>
    <th>タスク</th>
    <th>対応者</th>
    <th>内容</th>
    <th>開始予定</th>
    <th>終了予定</th>
    <th>補足</th>
    <th>ステータス</th>
  </tr>
  <tr>
  <td rowspan="2">買い物</td>
    <td>a</td>
    <td>小麦粉</td>
    <td>9:00</td>
    <td>12:00</td>
    <td>○強力粉　×薄力粉</td>
    <td><label><input type="text" list="status">
      <datalist id="status">
        <option value="完了">
        <option value="実施中">
        <option value="未着手">
        <option value="取消">
      </datalist></label></td>
  </tr>
  <tr>
    <td>a</td>
    <td>日用品</td>
    <td>9:00</td>
    <td>12:00</td>
    <td>日用品</td>
    <td><label><select size="1" name="status">
        <option value="status">完了</option>
        <option value="status">着手中</option>
        <option value="status">未着手</option>
        <option value="status">取消</option>
     </select>
  </tr>
  <tr>
    <td rowspan="2">荷物受け取り</td>
    <td>a</td>
    <td>Macbook Pro</td>
    <td>12:00</td>
    <td>15:00</td>
    <td>パソコン</td>
    <td><label><input type="text" list="status">
            <datalist id="status">
              <option value="完了">
              <option value="実施中">
              <option value="未着手">
              <option value="取消">
            </datalist></label></td>
      </tr>
      <tr>
        <td>a</td>
        <td>簡易書留</td>
        <td>14:00</td>
        <td>16:00</td>
        <td>クレジットカード</td>
        <td><label><input type="text" list="status">
            <datalist id="status">
              <option value="完了">
              <option value="実施中">
              <option value="未着手">
              <option value="取消">
            </datalist></label></td>
      </tr>
      <tr>
        <td colspan="7">残タスク：1/4　やること：残り10件</td>
      </tr>
    </table>
  </div>