/*
################################################
	共通部品用css
################################################
*/

html {
  scroll-behavior: smooth;
}

header {
  position: sticky;
  top: 0;
  z-index: 999;
}

.light-blue-btn {
  width: 100%;
  background: #8aa1e7;
  border: 1px solid #8aa1e7;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.furima-icon {
  width: 10vw;
  margin-right: 10vw;
}

.container-fluid {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}


.lists-left {
  display: flex;
  min-width: 200px;
  list-style: none;
  padding: 0px;
}

.login {
  margin-right: 18px;
}

.lists-right {
  display: flex;
  list-style: none;
  align-items: flex-end;
}

.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

.fa-trash-alt::before {
  text-decoration: none;
}

.space-link {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.space-link a{
  width: 100%;
  display: flex;
}

.registered-date{
  font-size: 10px;
}

.orner_name{
  font-size: 10px;
  margin-left: 5px
}

.flash-message.alert {
  background-color: #ffd4d1;
  color: #930403;
  border: solid 1px #930403;
}

.under-nav{
  width: 100vw;
  display: flex;
  justify-content: space-between;
}