/* 新規登録フォーム */
.form-control {
  height: 48px;
}

.card-body.p-5 {
  height: 95vh;
}

.have-account {
  /* 要素を上移動 */
  transform: translate(0, -38px);
}

.register-red-btn {
  /* 要素を上移動 */
  transform: translate(0, -18px);
}

.registration-main {
  /* 要素を上移動 */
  transform: translate(0, -18px)
}

/* .new-registration {
  /* スクロールさせない 
  overflow: hidden;
} */